{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}

    <div class="container mb-4">
        {% if post_list %}
            {% for post in post_list %}
            <div class="m-5">
               <a href="{% url 'detail' post.pk %}"><p><h5>{{ post.title }}</h5></p></a>
            </div>
            {% endfor %}
        {% else %}
        <div class="m-5">
            <h4>Нет постов</h4>
        </div>
        {% endif %}
    </div>


{% else %}
<div class="container mb-4">
    <br>
    <br>
    <br>
    <h1>Для работы необходимо зарегестрироваться или войти.<br><br>
        <a href="{% url 'register' %}">Зарегестрироваться...<br><br>
        <a href="{% url 'login' %}">Войти...</a></h1><br>
</div>
{% endif %}

{% endblock %}